#i_ecografias
  padding-top 50px
  padding-bottom: 4em;

.newMenu
  margin auto
  display: block
  overflow: hidden
.newMenu_block
  margin 2em auto
  display block
  text-align: center
  align-content: center
  align-items: center
  h2
    text-align: center
    padding-top: 2em
.title-icon2
  img
    margin auto
    display: block
    padding 0.3em

.newMenufloat
  display: inline-block
.bluePill
  display: inline-block
  background: #147ab7
  border-radius: 5px
  padding 0.5em
  margin 1em
  color #fff
  &:hover
    color #fff
    background: #08817f

.wlink
  color #fff
    

#precios
  margin-top 2em

.fix
  margin auto
  padding 2em

.lihe2
  line-height 1.8em
  margin 1.8em 0 1.5em 0
  text-align justify

.listaMenu img
  width 180px
  margin-top -15px

.listaMenu li
  display inline-block
  padding 1.5em
  width auto

.logoMenu
  height 30px
  margin-top 20px
  display inline
  float right

.hotmart
  max-height 250px
  padding 1em

#mainTitle
  margin 0
  padding 0
  font-size 22px
  line-height 0.9em

#mainTitle small
  color #fff
  display inline-block
  font-style italic
  font-weight bold
  margin-bottom 1.5em

.nav-pills
  text-align center

.overflow-x
  height 250px
  overflow-x auto
  whites-space nowrap
  width 100%

.text-white
  color #fff !important

.pug
  margin 0
  font-family "Open Sans", sans-serif
  box-sizing border-box

.nav__information
  align-itenms center
  color #fff
  display grid
  font-size 13px
  max-width 780px
  margin 0 auto
  text-align center

.nav__information p
  line-height 2em

.header
  align-items center
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  margin 1em auto
  max-width 1200px

.header img
  max-height 100%

.header__info
  padding 1em 2em

.header__info a
  font-weight bold
  color #000
  text-decoration none

.header__info p
  color #949494

.header__info *
  margin 0

.mw1280
  max-width 1280px
  margin 0 auto

.information
  background #147ab7

