nav.navi
    ul
        li
            a(href="https://centrodiagnostica.com/" rel="noopener").link.cWhite Home
        li
            a(href="https://centrodiagnostica.com/ecografia3d.html" rel="noopener").link.cWhite Ecografías 2D y 3D
        li
            a(href="https://centrodiagnostica.com/pediatria.html" rel="noopener").link.cWhite Pediatría
        li
            a(href="https://centrodiagnostica.com/laboratorio-clinico.html" rel="noopener").link.cWhite Laboratorio clínico
        li
            a(href="https://centrodiagnostica.com/ginecologia.html" rel="noopener").link.cWhite Ginecología
        li
            a(href="https://centrodiagnostica.com/podologo.html" rel="noopener").link.cWhite Podología