.bluebar
footer.footer
    .footer__section
        img(src="./images/logo-wide-white.webp", alt="alt").logoBottom
        p Somos un centro médico especializado en el diagnóstico por ecografia, con más de 2 años en el municipio de funza, Colombia.
        .footer__section__links
            a Carrera 14 # 9-80, Funza
            a +57 (321) 943-1425
            a info@centrodiagnostica.com
        h3 Nuestras redes sociales
            i
            i
            i
            i
    .footer__section
        .footer__section__links
            h3 Links de interés
            a(href="") Home
            a(href="") Servicios
            a(href="") Cita
            h3 Otros Links
            a(href="") Sobre
            a(href="") Precios
    .footer__section
        h3 Redes sociales y WhatsApp
        p
            a(href="https://www.facebook.com/centrodiagnosticafunza" rel="next nofollow noopener" target="_blank") Facebook
        p
            a(href="https://www.instagram.com/centrodiagnostica/" rel="next nofollow noopener" target="_blank") Instagram
        p
            a(href="https://api.whatsapp.com/send?phone=573219431425&text=Se%C3%B1ores%20Centro%20Diagnostica,%20necesito%20informaci%C3%B3n%20de%20" rel="next nofollow noopener" target="_blank") WhatsApp