.header2.px
    .header__info
        p EMAIL
        a(href="") info@centrodiagnostica.com
    .header__info
        p LLAMADA
        a(href="") +57 (321)943-1425
    .header__info
        p Información en WHATSAPP
        a(href="") +57 (321)943-1425
    .header__info
        p VER UBICACIÓN
        a(href="") Carrera 14 # 9-80, Funza
